@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    height: 100vh;
    position: relative;
    background-size: max(1200px, 100vw);
    background-image: url("Assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
}

.logo img {
    position: relative;
    z-index: 10;
    width: 170px;
    padding: 25px;
}

.button {
    display: flex;
    padding: 0px 5px 0px 5px;
}

.btn {
    position: relative;
    z-index: 10;
    margin-left: 13px;
    width: auto;
    padding: 6px 13px;
    font-size: 15px;
    font-weight: 700px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.btn-normal {
    padding: 0px 37px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgba(23, 23, 23, 0.3);
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 5px;
}

.content {
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 10;
    padding: 190px;
}

.content .heading1 {
    text-align: center;
    width: 75vw;
    font-size: 49px;
    font-weight: bolder;
}

.content .heading2 {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 15px;
}

.content .heading3 {
    text-align: center;
    width: 75vw;
    font-size: 20px;
    font-weight: 800px;
    padding-bottom: 25px;
}

input ::placeholder {
    color: rgb(255, 255, 255);
}

.details input {
    cursor: pointer;
    margin: 5px;
    border: 1px solid rgba(246, 238, 238, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    box-shadow: none;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 5px;
    padding: 16px 92px 13px 17px
}

.details button {
    cursor: pointer;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    font-size: 22px;
    font-weight: 700px;
    padding: 12px 30px 11px 20px;
    border-radius: 4px;
}

.separation {
    height: 9px;
    background-color: rgb(71, 69, 69);
}

.cont1-img-video {
    height: 80vh;
    display: flex;
}

.cont1-img-video .cont1 {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 50vw;
    color: white;
    padding: 120px 15px 50px 100px;
}

.cont1 .content1 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 7px;
}

.cont1 .content2 {
    width: 46vw;
    font-size: 25px;
    font-weight: 800px;
}

.cont1-img-video .img1-video1 {
    position: relative;
}

.cont1-img-video img {
    position: relative;
    z-index: 10;
}

.cont1-img-video video {
    width: 374px;
    position: absolute;
    left: 60px;
    top: 85px;
}

.cont2-img-video {
    height: 80vh;
    display: flex;
    padding: 65px;
    padding-right: 15px;
}

.cont2-img-video .img2-video2 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img2-video2 img {
    position: relative;
}

.overlap {
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    width: 292px;
    height: 90px;
    position: absolute;
    left: 111px;
    top: 298px;
}

.overlap .poster {
    position: absolute;
    left: 14px;
    top: 3px;
}

.overlap .gif {
    position: absolute;
    right: 4px;
    top: 15px;
}

.overlap span {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.movie {
    display: flex;
    flex-flow: row wrap;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 300px;
}

.download {
    color: #0071eb;
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
}

.cont2-img-video .cont2 {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 50vw;
    color: white;
    padding: 100px 22px 50px 20px;
}

.cont2 .content1 {
    width: 35vw;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 7px;
}

.cont2 .content2 {
    width: 46vw;
    font-size: 25px;
    font-weight: 400px;
}

.cont3-img-video {
    height: 80vh;
    display: flex;
}

.cont3-img-video .cont3 {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 50vw;
    color: white;
    padding: 120px 5px 50px 100px;
}

.cont3 .content1 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 7px;
}

.cont3 .content2 {
    width: 45vw;
    font-size: 25px;
    font-weight: 800px;
}

.cont3-img-video .img3-video3 {
    position: relative;
    padding: 43px 11px 43px 0px;
}

.cont3-img-video img {
    position: relative;
    z-index: 10;
}

.cont3-img-video video {
    width: 288px;
    height: 236px;
    position: absolute;
    left: 80px;
    top: 68px;
}

.cont4-img-video {
    height: 80vh;
    display: flex;
    padding: 65px;
    padding-right: 15px;
}

.cont4-img-video .img4-video4 {
    padding: 5px 10px 5px 45px;
}

.cont4-img-video .cont4 {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 50vw;
    color: white;
    padding: 100px 20px 10px 20px;
}

.cont4 .content1 {
    width: 41vw;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 7px;
}

.cont4 .content2 {
    width: 46vw;
    font-size: 25px;
    font-weight: 400px;
}

.questions {
    position: relative;
    color: white;
    text-align: center;
    padding: 65px;
}

.questions h1 {
    font-weight: bolder;
    font-size: 50px;
}

.questions .que {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 70px 15px 70px;
    cursor: pointer;
}

.que span {
    text-align: left;
    padding: 15px 10px 15px 28px;
    background-color: #2d2d2d;
    margin: 5px;
    height: 50px;
    width: 72vw;
    font-size: 25px;
}

.que span:hover {
    background-color: rgb(66, 65, 65);
}

.que span img {
    position: absolute;
    font-size: 24px;
    color: rgb(255, 255, 255);
    right: 120px;
}

.questions .end {
    padding: 40px 0px 40px 0px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.queries {
    height: 50vh;
    color: rgba(255, 255, 255, 0.7);

}

.queries .call {
    padding: 53px 80px 12px 150px;
    font-weight: 400px;
}

.queries .first {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgba(255, 255, 255, 0.7);
    gap: 12px;
    padding: 10px 100px 0px 148px;
    font-size: 14px;
}

.first a {
    color: rgba(255, 255, 255, 0.7);
}

footer select {
    font-size: 15px;
    margin-left: 144px;
    margin-top: 25px;
    padding: 5px 29px;
    border-radius: 5px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);

}

footer .last {
    font-size: 14px;
    padding: 25px 145px;
}
@media screen and (max-width:660px){
    .cont1-img-video{
        flex-direction: column;
    }
    .cont2-img-video{
        flex-direction: column;
    }
    .cont3-img-video{
        flex-direction: column;
    }
    .cont4-img-video{
        flex-direction: column;
    }
}